<div class="card">
    <div class="card-header">
        <h4 class="card-title">Nível 1 - Funções disponíveis:</h4>
    </div>
    <div class="collapse" id="collapseFunctions">
    <div class="card-body">
        <code>
            <div class="row">
                <div class="col-12">
                    <span><b>Ações:</span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    andarFrente(quantidade)<br>
                    andarTras(quantidade)<br>
                </div>
                <div class="col-4">
                    girarEsquerda()<br>
                    girarDireita()<br>
                </div>
                <div class="col-4">
                    darMeiaVolta()<br>
                    coletarCristal()<br>
                </div>
            </div>
        </code>
    </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunctions" aria-expanded="false" aria-controls="collapseFunctions">Abrir / Fechar</button>
    </div>
</div>